$hdr-bg-color : rgb(152, 13, 167);
$bg-color1 : rgb(17, 0, 199);
$bg-color2 : rgb(254, 181, 136);
$bg-color3 : rgb(128, 0, 113);
$txt-color : white;
$btn-hover-color : #555;
$btn-bg-color : red;
$ftr-bg-color : black;